/*start header*/

header {
    display: -webkit-flex;
    display: flex;
    -webkit-box-orient: horizontal;
    flex-direction: row;
    -webkit-box-align: center;
    align-items: center;
    width: 100%;
    position: relative;
    box-sizing: border-box;
    height: 4.4rem;
    background-color: #f2f3f1;
    border-bottom: 0.1rem solid #d8d8d8;
    position: fixed;
}
header h1 {
    width: 70%;
    position: absolute;
    top: 0;
    left: 5.1rem;
    color: #666;
    font-weight: bold;
    font-size: 1.25rem;
    line-height: 4.4rem;
    flex: 1;
    -webkit-flex: 1;
}
header a:last-child {
    color: #333;
}
header span.circle {
    display: inline-block;
    width: 3rem;
    height: 3rem;
    line-height: 3rem;
    background-color: #fff;
    background-clip: padding-box;
    border-radius: 50%;
    border: .1rem solid #d8d8d8;
    margin-left: .8rem;
}
header i {
    color: #999;
    font-size: 1.3rem;
}
/*end header*/

/*start nav*/

nav {
    height: 3rem;
    line-height: 3rem;
}
nav>a {
    font-size: 1.2rem;
    text-decoration: none;
}
/*end nav*/