#p-login {
    display: none;
    font-size: 1.2rem;
    color: #666;
}
#p-login span>label {
    font-size: 1.2rem;
    color: #999;
    /*border: 0.1rem solid #d8d8d8;*/
    border-radius: 1rem;
    padding: 0 .5rem;
    background-clip: padding-box;
    background: #f1f1f1;
}