html, body, div, span, h1, h2, h3, h4, h5, h6, p, a, em, img, input, q, b, dl, dt, dd, ol, ul, li, form, label, canvas {
    margin: 0;
    padding: 0;
    border: 0;
    outline: none;
    font-size-adjust: none;
    /*防止横屏时字体变粗*/
    /*-webkit-user-select: none;*/
    /*防止用户选择时弹出select，copy滋养*/
    -webkit-touch-callout: none;
    /*防止图片在touch时候弹出保存对话框*/
}
* {
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    /*防止input等其他被tap元素出现黑色的背景*/
}
html {
    font-size: 62.5%;
    font-family: "STHeiTi-Light", 'Microsoft YaHei', arial, sans-serif, 'Droid Sans Fallback';
}
body {
    height: 100 %;
    padding: 0;
    margin: 0;
    text-align: center;
    background-color: #fff;
}