<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <title>验房APP</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <link rel="stylesheet" type='text/css' href="./css/reset.css">
    <link rel="stylesheet" type='text/css' href="./lib/font-awesome/css/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" href="./css/layout.css">
    <link rel="stylesheet" type='text/css' href="./css/base.css">
    <link rel="stylesheet" type='text/css' href="./css/header.css">
    <link rel="stylesheet" type='text/css' href="./css/menu.css">
    <link rel="stylesheet" type='text/css' href="./css/p-index.css">
    <link rel="stylesheet" type='text/css' href="./css/p-login.css">
    <link rel="stylesheet" type='text/css' href="./css/p-join.css">
    <link rel="stylesheet" type='text/css' href="./css/p-article.css">

</head>

<body>
    <!--start header-->
    <header>
        <span id='btn-invoke-menu' class='circle'> <i class="fa fa-user"></i>
        </span>
        <h1>验房APP</h1>
        <a></a>
    </header>
    <!--end header-->

    <!--start menu-->
    <section id="menu">
        <ul>
            <li id="li-user－info">
                <span class='circle'><i class="fa fa-user"></i>
                </span>
                <a id="lnk-login">立即登陆</a>
            </li>
        </ul>
        <div id="dv-menu-slide">
            <span>
                <i class="fa fa-times"></i>
            </span>
        </div>
    </section>
    <!--start menu-->

    <!--start index page-->
    <section id="p-index">
        <div id='dv-swipe'>
            <img src="./upload/img/02.jpg" alt="">
        </div>
        <ul id="ul-list" class="list">
        </ul>
    </section>
    <!--start index page-->

    <!--start login page-->
    <section id="p-login">
        <form action="#">
            <p>
                <label for="t-account">账号</label>
                <input type="text" id="t-account" name='t-account' placeholder="邮箱账号/手机号">
            </p>
            <p>
                <label for="t-pwd">密码</label>
                <input type="password" id='t-pwd' name='t-pwd' placeholder="密码">
                <span>
                    <label>忘记密码</label>
                </span>
            </p>
            <a class="btn-invalid" id="btn-login">登 录</a>
            <div>
                <a id='lnk-sign'>
                    <span>还没有账号？</span>
                </a>
            </div>
        </form>
    </section>
    <!--start end login page-->

    <!--start join page -->
    <section id="p-join">
        <form action="#" id='frm-phone'>
            <p>
                <label for="t-phone">手机号</label>
                <input type="tel" id="t-phone" name='t-phone' placeholder="请输入手机号">
            </p>
            <a class="btn-invalid" id="btn-send-code">发送验证码</a>
        </form>
        <form action="#" id='frm-code'>
            <p>您的手机号：
                <label id="lab-phone"></label>
            </p>
            <p class="p-phone">
                <input type="tel" id="t-code" name='t-code' placeholder="请输入手机收到的验证码">
                <span>
                    <label>没有收到？</label>
                </span>
            </p>
            <a class="btn-invalid" id="btn-submit-code">提交验证码</a>
        </form>
    </section>
    <!--end join page-->

    <!--start details page-->
    <section id='p-article'>

    </section>
    <!--end details page-->


    <!--start menu template-->
    <script type="text/template" id="tpl-menu">
        <% _.each(list, function(item){ %>
            <li id="<%= item.id %>"><i class="fa <%= item.icon %>"></i><%= item.name %></li>
        <% }); %>
    </script>
    <!--end menu template-->


    <!-- start swipe template -->

    <!-- end swipe template -->


    <!-- start index template -->
    <script type="text/template" id="tpl-index">
        <% _.each(list, function(item){ %>
            <li>
                <img src="<%= item.thumbUrl %>" alt="">
                <div class='desc'>
                    <h2><%= item.title %></h2>
                    <p><%= item.desc %></p>
                </div>
            </li>
        <% }); %>
    </script>
    <!-- end index template -->


    <!--start article template-->
    <script type="text/template" id="tpl-article">
        <h3><%= title %></h3>
        <h6><%= pubtime %> <%= subtitle %></h6>
        <% _.each(content, function(item){ %>
            <% if(item.type === 'img'){ %>
                <img src="<%= item.src %>" alt="">
            <% } %>

            <% if(item.type === 'text'){ %>
                <p><%= item.text %></p>
            <% } %>
        <% }); %>
        <div class="dv-tips">
            <%= source %>
        </div>
        <div class='dv-tag'><i class="fa fa-tag"></i>
            <% _.each(tags, function(item){ %>
                <span><%= item.name %></span>
            <% }); %>
        </div>
        <div class='dv-up-down'>
            <a id="btn-up" class='btn-white'><i class='fa fa-thumbs-o-up'></i><%= thumbUpCount %></a>
            <a id="btn-down" class='btn-white'><i class="fa fa-thumbs-o-down"></i><%= thumbDownCount %></a>
        </div>
    </script>
    <!--end article template-->

    <script data-main="./js/main" src="./lib/requirejs/require.js" ></script>
    
    <!-- type="text/javascript" defer async="true"// <script src="./lib/zepto/zepto.js"></script>
    // <script src="./lib/underscore/underscore.js"></script>
    // <script src="./lib/backbone/backbone.js"></script>
    // <script type="text/javascript" src="./js/base.js"></script>
    // <script type="text/javascript" src="./js/init.js"></script>
    // <script type="text/javascript" src="./js/p-index.js"></script>
    // <script type="text/javascript" src="./js/p-login.js"></script>
    // <script type="text/javascript" src="./js/p-join.js"></script>
    // <script type="text/javascript" src="./js/p-article.js"></script> -->
</body>

</html>